.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Navbar {
  background-color: #F26157 !important;
}

.Subscribe-button {
  background-color: #F26157 !important;
  color: white !important;
}

.Subscribe-button:hover {
  background-color: #f14d41 !important;
}

.Logo-text {
  font-family: 'Lobster', cursive !important;
  font-size: 2em !important;
  color: white !important;
}

.Search-bar {
  width: 900px !important;
}

.Center {
  align-items: center !important;
}

.Fact-description {
  font-family: 'Anton', sans-serif !important;
}
